doctype html
html
  head
    meta(http-equiv="Content-Type" ,content="text/html; charset=utf-8")
    title SISE Game
    link(rel="stylesheet", type="text/css", href="#{ CSS }")
  body
    #app
    script(type="application/javascript", src="#{ JS }")
