doctype html
html
  head
    meta(charset="utf8")
    title SISE Game
    link(rel="stylesheet", type="text/css", href="/build/app.css")
  body
    #app
    script(type="application/javascript", src="/build/vendor.js")
    script(type="application/javascript", src="/build/app.js")
