@import "settings";

#welcome{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  background-image: url(../images/welcome.png);
  background-size: cover;

  h1{
    color: #fff;
    text-align: center;
    margin-top: 15%;
    font-size: 3em;
  }

  h2{
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
  }
}

#screen{
  height: 500px;
  background-image: url(../images/background.png);
  background-size: cover;
  margin-bottom: 248px;

  #landing{
    color: #fff;
    position: absolute;
    font-weight: bold;
    top: 128px;
    text-align: center;
    width: 100%;

    #count{
      margin-top: 10%;
      font-size: 2em;
    }

    a{
      color: #fff;
      text-decoration: none;
    }

    .main{
      font-size: 5em;
    }

    .sub{
      font-size: 1.2em;
    }
  }

  #live{
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
    top: 256px;
  }
}

#programs{
  width: 960px;
  margin: 0 auto;

  .program{

    margin-bottom: 78px;

    .title{

      .main{
        display: inline-block;
        font-size: 1.8em;
      }

      .sub{
        display: inline-block;
        margin-left: 12px;
        font-size: 1.2em;
        color: #a6a6a8;
      }
    }

    .items{
      .item{
        padding: 12px;
        padding-left: 0;
        box-sizing: border-box;
        .video{
          width: 320px - 24px;
          height: 180px - 24px;
          margin-bottom: 8px;
        }

        a.video{
          display: block;
        }

        a.name{
          text-decoration: none;
          display: block;
          color: #000;
          font-size: .9em;
          transition: color 0.2s;
          &:hover{
            color: $primaryColorDark;
          }
        }
      }
    }
  }
}
