doctype html
html
  head
    title SISE Game
    link(rel="stylesheet", type="text/css", href="/build/app.css")
  body
    .header
      a(href="/").logo SISE Game
      
      #toolbar
        a(href="/user/sign").item 登录
        a(href="/user/sign").item 注册
    .container
    
      section#screen
        #landing
          .main TGC vs ECG
          .sub 正在直播：第二届华软杯 - 英雄联盟四强
        #live
      section#programs
        .program
          .title
            .main 英雄联盟
            .sub League of legends
          .items.pure-g
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
        .program
          .title
            .main Dota
            .sub Defense of the Ancients
          .items.pure-g
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
        .program
          .title
            .main 炉石传说
            .sub Hearth Stone
          .items.pure-g
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排
            .pure-u-1-3
              .item
                .video
                a(href="#").name HKE Dinter/跟BEBE雙排

    .footer Footer
    script(type="application/javascript", src="/build/vendor.js")
    script(type="application/javascript", src="/build/app.js")
