doctype html
html
  head
    title SISE Game
    link(rel="stylesheet", type="text/css", href="/build/app.css")
  body#app
    .header
      a(href="/").logo SISE Game
      
      #toolbar
        a(href="/user/sign").item 登录
        a(href="/user/sign").item 注册
    .container
    
      section#screen
        #landing
          .main(v-text="title") TGC vs ECG
          .sub(v-text="subTitle") 正在直播：第二届华软杯 - 英雄联盟四强
        #live
        p {{ shows }}
      section#programs(v-repeat="shows")
        .program
          .title 
            .main(v-text="$key | gameName")
            .sub(v-text="$key | gameSubName")
          .items.pure-g
            .pure-u-1-3(v-repeat="$value")
              .item
                .video
                a(href="javascript:void(0)", v-text="room.name").name

    .footer
    script(type="application/javascript", src="/build/vendor.js")
    script(type="application/javascript", src="/build/app.js")
